.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 56%;
}

.homepage h1 {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}

.homepage input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #3f4048;
  color: white;
}

.homepage input:focus {
  outline: none;
}

.secondInput {
  width: 90% !important;
  margin-right: 15px;
}

.homepage button {
  width: 8%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #7271f3;
  color: white;
  cursor: pointer;
}

.homepage h4 {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}

.homepage a {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  color: #7271f3;
  background-color: rgb(114, 113, 243, 10%);
}

@media (min-width: 0px) and (max-width: 1024px) {
  .homepage {
    width: 80%;
  }
  .secondInput {
    width: 100% !important;
  }
  .homepage button {
    width: 100%;
  }
}

@media (min-width: 1025px) and (max-width: 1336px) {
  .secondInput {
    width: 100% !important;
  }

  .homepage button {
    width: 26%;

    justify-content: center;
    text-align: center;
    display: flex;
    margin: 0 auto;
  }
}
