@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  font-family: "poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #33343c;

  --sb-track-color: #232e33;
  --sb-thumb-color: #3f4048;
  --sb-size: 7px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.flex {
  display: flex;
}

.error {
  color: white;
  background-color: #cd4646;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
}
