.loginV {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: 100vh;
  text-align: center;
  width: 20%;
}

.loginV button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #7271f3;
  color: white;
  cursor: pointer;
  margin-top: 25px;
}

@media (min-width: 0px) and (max-width: 768px) {
  .loginV {
    width: 50%;
  }
}
